<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1_SnapShot_1748985462656"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="172.26.54.211"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="113"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <stringAttribute key="modelBehaviorSpec" value="TestIndSpec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="rmState, tmState, tmPrepared"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="0Consistent"/>
        <listEntry value="0TypeOK"/>
        <listEntry value="0TestInd"/>
        <listEntry value="0TestSafety"/>
        <listEntry value="1CandInv"/>
        <listEntry value="0TestInit"/>
        <listEntry value="0I"/>
        <listEntry value="0InductiveProperty"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0TestIndSpec"/>
        <listEntry value="0TestSafety"/>
        <listEntry value="0CandInv"/>
        <listEntry value="0TestInd"/>
        <listEntry value="0TestSpec"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="RMs;;{&quot;rm1&quot;, &quot;rm2&quot;, &quot;rm3&quot;};0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="ToyTwoCommit"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
